body {
  margin: 0;
  font-family: "Mulish" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

p,h1,h2,h3{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

button{
  display: block;
  border: none;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
}

input{
  box-sizing: border-box;
  font-family: inherit;
}