.cart{
  background-color: white;
  border-radius: 10px 20px 0 0;
  display: flex;
  flex-direction: column;

  &__title{
    font-size: 30px;
  }

  &__dishes{
    margin: 40px 30px 40px 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__header{
    display: flex;
    width: 80%;
    margin: 40px auto 0;
    justify-content: space-between;
    align-items: center;
  }

  &__clear-btn{
    width: 30%;
    height: 50px;
    background-color: #d62727;
    color: white;
    border-radius: 25px;
  }

  &__send-btn{
    width: 30%;
    height: 50px;
    margin: auto auto 40px auto;
    background-color: #d62727;
    color: white;
    border-radius: 25px;
  }
}